// NavBar component 
$mobile: 600px
$reactBlue: #61dafb

.Navbar
    display: grid
    position: fixed
    background-color: rgb(61, 69, 78, .9)
    z-index: 1
    grid-template-columns: 1fr 1fr
    font-size: calc(10px + 1vmin)
    color: $reactBlue
    padding: 30px 0 20px
    width: 100%
    box-shadow: 0px 10px 10px rgba(30, 30, 30, .3)
    top: 0px
    transition: top 0.3s, background-color 0.3s

.Navbar-Hidden
    @extend .Navbar
    top: -100px

.Navbar-Top
    @extend .Navbar
    background-color: rgba(7, 43, 53, 0)
    box-shadow: 0px 0px 0px

.NavSection1
    justify-content: center
    align-items: center

.NavSection2
    display: flex
    justify-content: flex-end
    align-items: center
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace
    padding-right: 10%
    @media (max-width: $mobile)
        display: none

.Menu-Open
    // @media (max-width: $mobile)
    height: 100%
    width: 100%
    position: fixed
    z-index: -1
    left: 0
    top: 0
    opacity: 1
    background-color: rgba(0,0,0, 0.75)
    // overflow: hidden
    transition: top .8s ease
    padding-top: 100px

.Menu-Closed
    @extend .Menu-Open
    top: calc(-100% - 100px)
    transition: top .8s ease
    @media (min-width: mobile)
        display: none

.Menu-Parent-Div
    display: none
    @media (max-width: $mobile)
        display: block
        padding-right: 20%
        padding-top: 3%

.Hamburger-Menu
    display: none
    @media (max-width: $mobile)
        display: block
        max-height: calc(30px + .3vmin)
        float: right
        z-index: -1
        transition: transform .8s ease
        &:active
            transform: rotate(390deg)
            transform-origin: center
            transition: transform .8s

.Hamburger-Item
    display: none
    @media (max-width: $mobile)
        display: block
        padding: 5% 0
        color: $reactBlue
        font-size: calc(10px + 2vmin)

.Hamburger-Item-Active
    @extend .Hamburger-Item
    background-color: rgb(97, 218, 251, .4)
    color: #ffffff
    font-weight: 700

nav
    a
        padding: 20px
        text-decoration: none
        color: $reactBlue
        border-radius: 10px
        transition: all .8s ease
        &:hover
            background-color: $reactBlue
            color: #282d33
            box-shadow: inset 0px 0px 0px 3px

.ActiveLink
    // Using box shadow here so that the border is inside the div and does not push the other links out
    box-shadow: inset 0px 0px 0px 3px

.HomeIcon
    max-height: calc(30px + 2vmin)
    display: block
    padding-left: 10%
    transition: filter .7s ease
    &:hover
        filter: brightness(0) saturate(100%) invert(85%)
        transition: filter .7s ease

.MenuIcon
    max-width: 80px
